


/* Footer */

.color-footer {
    background-color: rgb(10, 10, 10);
}

@media (min-width: 425px) {
    /* Sobre mi */

    .titulo-sobremi,
    .titulo-conocimientos {
        margin-top: 5rem;
    }

    .sobremi-container p {
        font-size: 1.3rem;
    }

    .imagen-sobremi {
        width: 70vw;
    }

   

}


@media (min-width: 768px) {
    /* Main */

    h1 {
        font-size: 4rem;
    }


    /*  Sobre mi */

    .sobremi-container p {
        font-size: 1.5rem;
    }
}

    @media (min-width: 992px) {
        .imagen-sobremi {
            width: 40vw;
            margin-top: 4rem;
        } 

        .logo {
            width: 20rem;
        }
    }

    @media (min-width: 1200px) {}

    @media (min-width: 1400px) {}

    @media (min-width: 1920px) {
        h1 {
            letter-spacing: 10px;
        }

        main {
            padding-bottom: 13rem;
        }

        h2 {
            font-size: 3.5rem;
        }

        /* Sobre mi */

        .sobremi-container p {
            font-size: 2rem;
        }

        .imagen-sobremi {
            width: 30vw;
        }

        /* ----- contacto ------- */
        
        .input-contacto {
            display: flex;    
        }

        .email-container {
            display: flex;
            justify-content: right;
        }

        .main-contacto input{
            display: inline;
            width: 30rem;
            
        

        }

        .textarea-container {
            display: flex;
            justify-content: center;
        }

        .textarea-contacto {
            width: 51vw;
        }
    }

    .main-contacto {
        padding-bottom: 6.5rem;
    }

