.main-principal {
    .row {
        .contenedor-datos {
            .lista-datos {
                li {
                    list-style-type: none;
                }
            }
        }
    }
}

.main-principal {
    padding-bottom: 9.5rem;
}


.main-principal {
    .row {
        .contenedor-datos {
            .lista-datos {
                color: $colorAzul;
                text-align: center;
                padding: 0;
            }
        }
    }
}

.main-principal {
    .row {
        .contenedor-datos {
            .titulo-main {
                color: $colorAmarillo;
                font-size: 3rem;
                letter-spacing: 5px;
            }
        }
    }
}

.main-principal {
    .row {
        .contenedor-datos {
            .subtitulo-main {
                font-size: 2rem;
                color: white;
            }
        }
    }
}

.main-principal {
    .row {
        .col-7 {
            .logo {
                width: 50rem;
            }
        }
    }
}

// Main Contacto

.main-contacto {
    padding-bottom: 6.7rem;
}

.main-contacto {
    .row {
        h1 {
            color: $colorAmarillo;
        }
    }
}

// Main Presentacion

.main-presentacion {
    .row {
        .col-lg-6 {
            img {
                width: 80vw;

            }
        }
    }
}


.main-presentacion {
    .row {
        .col-12 {
            img {
                width: 80vw;

            }
        }
    }
}

.main-presentacion {
    padding-bottom: 7rem;
}

.main-presentacion {
    .row {
        .col-lg-6 {
            .lista-presentacion {
                list-style-type: none;
                padding: 0;
            }
        }
    }
}

.main-presentacion {
    .row {
        .col-lg-6 {
            .lista-presentacion {
                .hola-li {
                    color: $colorAmarillo;
                    font-size: 3rem;
                }
            }
        }
    }
}


.main-presentacion {
    .row {
        .col-lg-6 {
            .lista-presentacion {
                .diseñador-li {
                    color: $colorAzul;
                    font-size: 2rem;
                }
            }
        }
    }
}

.main-presentacion {
    .row {
        .col-lg-6 {
            .lista-presentacion {
                .lenguajes-li {
                    color: white;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.main-presentacion {
    .row {
        .col-lg-6 {
            .contenedor-botones {
                button {
                    width: 9rem;
                    letter-spacing: 1px;
                }
            }

        }
    }
}

.main-presentacion {
    .row {
        .col-lg-6 {
            .contenedor-botones {
                .boton-portfolio {
                    background-color: $colorAmarillo;
                }
            }

        }
    }
}


.main-presentacion {
    .row {
        .col-lg-6 {
            .contenedor-botones {
                .boton-curriculum {
                    background-color: $colorAzul;
                }
            }

        }
    }
}



.main-proyectos {
    .row {
        .col-lg-5 {
            img {
                border: solid 2px white;
                margin-top: 2rem;
            }
        }
    }
}

.main-proyectos {
    padding-bottom: 6rem;
}

.main-proyectos {
    .row {
        .col-lg-6 {
            p {
                margin: 2rem;
            }
        }
    }
}



.main-proyectos {
    .row {
        h1 {
            font-size: 3rem;
            color: $colorAmarillo;
            padding-bottom: 1rem;
        }
    }
}


// MAIN PIEDRA PAPEL TIJERA

.background {
    background-color: rgb(12, 12, 12);
}

.main-ppt {
    max-width: 40rem;
    height: 100vh;
    max-height: 745px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid $colorAzul;
    border-radius: 2px;
    box-shadow: 3px 3px 3px rgba(252, 235, 0, 0.493);
    margin-top: 1rem;
    color: black;
    background-color: rgb(12, 12, 12);
    button{
  
        border: 2px solid $colorAzul;
        margin: 5px;
        background-color: rgb(18, 18, 18);
      }

    h1 {
        font-size: 3rem;
        text-align: center;
        padding: 20px;
        color: $colorAmarillo;
    }

    #result {
        text-align: center;
        display: flex;
        justify-content: space-around;
        #vs-text {
            align-self: center;
            font-size: 4rem;
            color: $colorAmarillo;
        }

        img {
            width: 8rem;

        }
    }

    #start-text {
        font-size: 3rem;
        padding: 20px;
        text-align: center;
        color: $colorAzul;
    }

    #group-btn {
        display: flex;
        width: 100%;
        
        button>img {
            width: 50%;
            background-color: rgb(18, 18, 18);
        }
    }

    .marcador {
        display: flex;
        justify-content: space-around;
        

        .marcador-user,
        .marcador-maquina {
            width: 14rem;
            height: 4rem;
            border: solid 3px $colorAzul;
            border-radius: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;

            span {
                font-size: 2rem;
                align-self: center;
                color: white;
            }
        }
    }
}