.main-principal {
    .row {
        .contenedor-datos {
            .lista-datos {
                li {
                    list-style-type: none;
                }
            }
        }
    }
}

.main-principal {
    padding-bottom: 9.5rem;
}


.main-principal {
    .row {
        .contenedor-datos {
            .lista-datos {
                color: $colorAzul;
                text-align: center;
                padding: 0;
            }
        }
    }
}

.main-principal {
    .row {
        .contenedor-datos {
            .titulo-main {
                color: $colorAmarillo;
                font-size: 3rem;
                letter-spacing: 5px;
            }
        }
    }
}

.main-principal {
    .row {
        .contenedor-datos {
            .subtitulo-main {
                font-size: 2rem;
                color: white;
            }
        }
    }
}

.main-principal {
    .row {
        .col-7 {
            .logo {
                width: 50rem;
            }
        }
    }
}

// Main Contacto

.main-contacto {
    padding-bottom: 6.7rem;
}

.main-contacto {
    .row {
        h1 {
            color: $colorAmarillo;
        }
    }
}
// Main Presentacion

.main-presentacion {
    .row {
        .col-lg-6 {
            img {
                width: 80vw;

            }
        }
    }
}


.main-presentacion {
    .row {
        .col-12 {
            img {
                width: 80vw;
                
            }
        }
    }
}

.main-presentacion {
    padding-bottom: 7rem;
}

.main-presentacion {
    .row {
        .col-lg-6 {
            .lista-presentacion {
                list-style-type: none;
                padding: 0;
            }
        }
    }
}

.main-presentacion {
    .row {
        .col-lg-6 {
            .lista-presentacion {
                .hola-li {
                    color: $colorAmarillo;
                    font-size: 3rem;
                }
            }
        }
    }
}


.main-presentacion {
    .row {
        .col-lg-6 {
            .lista-presentacion {
                .diseñador-li {
                    color: $colorAzul;
                    font-size: 2rem;
                }
            }
        }
    }
}

.main-presentacion {
    .row {
        .col-lg-6 {
            .lista-presentacion {
                .lenguajes-li {
                    color: white;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.main-presentacion {
    .row {
        .col-lg-6 {
            .contenedor-botones {
                button {
                    width: 9rem;
                    letter-spacing: 1px;
                }
            }

        }
    }
}

.main-presentacion {
    .row {
        .col-lg-6 {
            .contenedor-botones {
                .boton-portfolio {
                    background-color: $colorAmarillo;
                }
            }

        }
    }
}


.main-presentacion {
    .row {
        .col-lg-6 {
            .contenedor-botones {
                .boton-curriculum {
                    background-color: $colorAzul;
                }
            }

        }
    }
}



.main-proyectos {
    .row {
        .col-lg-5 {
            img {
                border: solid 2px white;
                margin-top: 2rem;
            }
        }
    }
}

.main-proyectos {
  padding-bottom: 6rem;
}

.main-proyectos {
    .row {
        .col-lg-6 {
            p{
                margin: 2rem;
            }
        }
    }
}



.main-proyectos {
    .row {
        h1 {
            font-size: 3rem;
            color: $colorAmarillo;
            padding-bottom: 1rem;
        }
    }
}