@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nintendo;
  background-color: rgb(12, 12, 12);
}

@font-face {
  font-family: "Open Sans Light";
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: "Open Sans Medium";
  src: url(../fonts/OpenSans-Medium.ttf);
}
@font-face {
  font-family: "Nintendo";
  src: url(../fonts/Nintendo-DS-BIOS.ttf);
}
.navbar .container-fluid .collapse .navbar-nav .nav-item {
  font-size: 2rem;
  padding: 5px 20px;
}

.main-principal .row .contenedor-datos .lista-datos li {
  list-style-type: none;
}

.main-principal {
  padding-bottom: 9.5rem;
}

.main-principal .row .contenedor-datos .lista-datos {
  color: #379e98;
  text-align: center;
  padding: 0;
}

.main-principal .row .contenedor-datos .titulo-main {
  color: #faec3a;
  font-size: 3rem;
  letter-spacing: 5px;
}

.main-principal .row .contenedor-datos .subtitulo-main {
  font-size: 2rem;
  color: white;
}

.main-principal .row .col-7 .logo {
  width: 50rem;
}

.main-contacto {
  padding-bottom: 6.7rem;
}

.main-contacto .row h1 {
  color: #faec3a;
}

.main-presentacion .row .col-lg-6 img {
  width: 80vw;
}

.main-presentacion .row .col-12 img {
  width: 80vw;
}

.main-presentacion {
  padding-bottom: 7rem;
}

.main-presentacion .row .col-lg-6 .lista-presentacion {
  list-style-type: none;
  padding: 0;
}

.main-presentacion .row .col-lg-6 .lista-presentacion .hola-li {
  color: #faec3a;
  font-size: 3rem;
}

.main-presentacion .row .col-lg-6 .lista-presentacion .diseñador-li {
  color: #379e98;
  font-size: 2rem;
}

.main-presentacion .row .col-lg-6 .lista-presentacion .lenguajes-li {
  color: white;
  font-size: 1.5rem;
}

.main-presentacion .row .col-lg-6 .contenedor-botones button {
  width: 9rem;
  letter-spacing: 1px;
}

.main-presentacion .row .col-lg-6 .contenedor-botones .boton-portfolio {
  background-color: #faec3a;
}

.main-presentacion .row .col-lg-6 .contenedor-botones .boton-curriculum {
  background-color: #379e98;
}

.main-proyectos .row .col-lg-5 img {
  border: solid 2px white;
  margin-top: 2rem;
}

.main-proyectos {
  padding-bottom: 6rem;
}

.main-proyectos .row .col-lg-6 p {
  margin: 2rem;
}

.main-proyectos .row h1 {
  font-size: 3rem;
  color: #faec3a;
  padding-bottom: 1rem;
}

footer {
  height: 3rem;
}

.container-fluid .row .col .imagenes-footer img {
  width: 2rem;
}

footer .row .col .color-footer {
  background-color: rgb(10, 10, 10);
}

footer .row .col .color-footer .color-footer {
  background-color: rgb(10, 10, 10);
}

footer .row .col {
  background-color: rgb(10, 10, 10);
}

@media (min-width: 425px) {
  /* Sobre mi */
  .sobremi-container .row .col-lg-6 .titulo-sobremi {
    margin-top: 5rem;
  }
  .sobremi-container .row .col-lg-6 .titulo-conocimientos {
    margin-top: 5rem;
  }
  .sobremi-container p {
    font-size: 1.3rem;
  }
  .sobremi-container .row .col-lg-6 .imagen-sobremi {
    width: 70vw;
  }
}
@media (min-width: 768px) {
  /* Main */
  .container-fluid .row .col-10 h1 {
    font-size: 4rem;
  }
  /*  Sobre mi */
  .sobremi-container .row .col-lg-6 p {
    font-size: 1.5rem;
  }
  .main-presentacion .row .col-lg-6 img {
    width: 50vw;
  }
}
@media (min-width: 992px) {
  .sobremi-container .row .col-lg-6 .imagen-sobremi {
    width: 40vw;
    margin-top: 4rem;
  }
  .container-fluid .row .col-7 .logo {
    width: 20rem;
  }
  .main-presentacion .row .col-lg-6 img {
    width: 50vw;
  }
}
@media (min-width: 1920px) {
  .container-fluid .row .col-10 h1 {
    letter-spacing: 10px;
  }
  .container-fluid .row .col-10 h2 {
    font-size: 3.5rem;
  }
  /* Sobre mi */
  .sobremi-container .row .col-lg-6 p {
    font-size: 1.5rem;
  }
  .sobremi-container .row .col-lg-6 .imagen-sobremi {
    width: 30vw;
  }
  /* ----- contacto ------- */
  .main-contacto {
    padding-bottom: 9.3rem;
  }
  .main-contacto .input-contacto {
    display: flex;
  }
  .main-contacto .row .email-container {
    display: flex;
    justify-content: right;
  }
  .main-contacto .row .email-container input {
    display: inline;
    width: 30rem;
  }
  .main-contacto .row .col-5 input {
    display: inline;
    width: 30rem;
  }
  .main-contacto .row .textarea-container {
    display: flex;
    justify-content: center;
  }
  .main-contacto .row .textarea-container .form-floating .textarea-contacto {
    width: 51vw;
  }
  .textarea-contacto {
    width: 51vw;
  }
  .main-presentacion .row .col-lg-6 img {
    width: 30vw;
  }
  .main-presentacion .row .elementos-presentacion {
    padding-right: 25rem;
  }
  .main-presentacion .row .contenedor-lista {
    padding-left: 25rem;
  }
  .main-presentacion .row .contenedor-lista .lista-presentacion .hola-li {
    font-size: 4.5rem;
  }
  .main-presentacion .row .contenedor-lista .lista-presentacion .diseñador-li {
    font-size: 3rem;
  }
  .main-presentacion .row .contenedor-lista .lista-presentacion .lenguajes-li {
    font-size: 2rem;
  }
  .main-presentacion {
    padding-bottom: 8rem;
  }
  .sobremi-container .row .col-lg-6 .imagen-sobremi {
    width: 21vw;
    margin-top: 4rem;
  }
  .sobremi-container .row .col-lg-6 .titulo-sobremi {
    margin-top: 0rem;
  }
  .sobremi-container .row .col-lg-6 .titulo-conocimientos {
    margin-top: 0rem;
  }
  .sobremi-container {
    padding: 0.7rem;
  }
  .main-proyectos {
    padding-bottom: 5.5rem;
  }
  .main-proyectos .row h1 {
    font-size: 3rem;
    color: #faec3a;
    padding-bottom: 3rem;
  }
  .main-proyectos .row .col-lg-5 img {
    border: solid 2px white;
    margin-top: 6rem;
  }
}
.sobremi-container .row .col-lg-6 .imagenes-sobremi1 img {
  width: 3rem;
}

.sobremi-container .row .col-lg-6 .imagenes-sobremi2 img {
  width: 3rem;
}

p {
  color: #379e98;
}

h2 {
  color: white;
  font-size: 3rem;
}/*# sourceMappingURL=styles.css.map */